<b>Handling more categorical variable using one hot encoding</b>

In [5]:
import pandas as pd
import numpy as np

data = pd.read_csv('train.csv',usecols=['X1','X2','X3','X4','X5','X6'])
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [6]:
#data.rename(columns={'X1':'A'})

#renaming a column

python :- sort_value() , value_counts(),unique()

In [7]:
# checking unique lables

for i in data.columns:
    print('col',i,':-',len(data[i].unique()),'unique values')

col X1 :- 27 unique values
col X2 :- 44 unique values
col X3 :- 7 unique values
col X4 :- 4 unique values
col X5 :- 29 unique values
col X6 :- 12 unique values

In [8]:
pd.get_dummies(data,drop_first=True).shape

(4209, 117)

Doeing feature engineering on more categorical variables which has more categories

http://proceedings.mlr.press/v7/niculescu09/niculescu09.pdf

In [9]:
#getting top 20 frequent used category

data['X2'].value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
i       25
k       25
b       21
ao      20
z       19
ag      19
Name: X2, dtype: int64

In [10]:
top_10 = [x for x in data.X2.value_counts().sort_values(ascending=False).head(10).index]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [18]:
import numpy as np 
  
# a is an array of integers. 
a = np.array([[1, 2, 3], [4, 5, 6]]) 
  
print(a) 
  
print ('Indices of elements <4') 
  


b = np.where(a<4) 
print('b',b) 
  
print("Elements which are <4") 
print(a[b])

[[1 2 3]
 [4 5 6]]
Indices of elements <4
hihi [1 2 3]
b (array([0, 0, 0]), array([0, 1, 2]))
Elements which are <4
[1 2 3]

In [11]:
for label in top_10:
    data[label] = np.where(data['X2']==label,1,0) # replacing top 10 variable with 1 other with 0 for X2 column
    
data[['X2']+top_10].head()
data.head()

  X1  X2 X3 X4 X5 X6  as  ae  ai  m  ak  r  n  s  f  e
0  v  at  a  d  u  j   0   0   0  0   0  0  0  0  0  0
1  t  av  e  d  y  l   0   0   0  0   0  0  0  0  0  0
2  w   n  c  d  x  j   0   0   0  0   0  0  1  0  0  0
3  t   n  f  d  x  l   0   0   0  0   0  0  1  0  0  0
4  v   n  f  d  h  d   0   0   0  0   0  0  1  0  0  0

In [54]:
# now applting this sinerio in all the column
def one_hot_encoding(df, variable,top_x_label):
    
    for label in top_x_label:
        data[variable+'_'+label] = np.where(data[variable]==label,1,0)
        
data = pd.read_csv('train.csv',usecols = ['X1','X2','X3','X4','X5','X6'])

one_hot_encoding(data,'X1',top_10)
one_hot_encoding(data,'X2',top_10)
one_hot_encoding(data,'X3',top_10)
one_hot_encoding(data,'X4',top_10)
one_hot_encoding(data,'X5',top_10)
one_hot_encoding(data,'X6',top_10)

data.head()

,X1,X2,X3,X4,X5,X6,X1_as,X1_ae,X1_ai,X1_m,...,X6_as,X6_ae,X6_ai,X6_m,X6_ak,X6_r,X6_n,X6_s,X6_f,X6_e
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
del data['X1'] # droping 1 column
data.drop(['X2','X3','X4','X5', 'X6'], axis = 1) .head()

,X1_as,X1_ae,X1_ai,X1_m,X1_ak,X1_r,X1_n,X1_s,X1_f,X1_e,...,X6_as,X6_ae,X6_ai,X6_m,X6_ak,X6_r,X6_n,X6_s,X6_f,X6_e
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<b>Types of categorical variable</b>
<p>1. Nominal data and encoding</p>
<p>2. Ordinal data and encoding</p>

In Ordinal data, while encoding, one should retain the information regarding the <b>order</b> in which the category is provided. Like in the above example the highest degree a person possesses, gives vital information about his qualification. The degree is an important feature to decide whether a person is suitable for a post or not.

While encoding Nominal data, we have to consider the presence or absence of a feature. In such a case, no notion of <b>order</b> is present. For example, the city a person lives in. For the data, it is important to retain where a person lives. Here, We do not have any <b>order</b> or sequence. It is equal if a person lives in Delhi or Bangalore.

https://www.analyticsvidhya.com/blog/2020/08/types-of-categorical-data-encoding/#:~:text=.fit_transform(train_df)-,One%20Hot%20Encoding,we%20create%20a%20new%20variable.&text=After%20encoding%2C%20in%20the%20second,category%20in%20the%20feature%20Animal.

<b>Nominal encoding</b>
    <p>1. One hot encoding (Dummy Variable Trap)</p>
    <p>2. Mass encoding</p>
<b>Ordinal encoding</b>
    <p>1. Label encoding</p>
    <p>2. Target encoding</p>
    
dummy variable trap delete any of the column from dummy variable for a categorical variable.

if we have more number if categories in categorical variable that leads to more new dummy variable that leads to curse of dimentionality.

label encoding is applied to ordinal categories.

<b>one hot encoding with Multiple categories-Nominal encoding.</b>
    <p>1. Top Most frequent category in categorical variable, and reject other category.</p>


<b>Traget guided</b> 
used in ordinal category.
In target encoding, we calculate the mean of the target variable for each category and replace the category variable with the mean value. In the case of the categorical target variables, the posterior probability of the target replaces each category.
1. It can lead to target leakage or overfitting.
2. We may face is the improper distribution of categories in train and test data.

<b>Feature Scaling</b>

Values in the features will be in madnitude(values) and units(kg,cm,meter).

<b>Role of Scaling</b> is mostly important in algorithms that are distance based and require Euclidean Distance. Random Forest is a tree-based model and hence does not require feature scaling.

<b>Rule of thumb I follow here is any algorithm that computes distance or assumes normality, scale your features!!!</b>

some algorithm defanetly need to perform feature scaling eg:(Knn) 
<b>k-nearest neighbors</b> with an Euclidean distance measure is sensitive to magnitudes and hence should be scaled for all features to weigh in equally.

Scaling is critical, while performing <b>Principal Component Analysis(PCA)</b>. PCA tries to get the features with maximum variance and the variance is high for high magnitude features. This skews the PCA towards high magnitude features.

We can speed up <b>gradient descent</b> by scaling. This is because θ will descend quickly on small ranges and slowly on large ranges, and so will oscillate inefficiently down to the optimum when the variables are very uneven.(very helpful in <b>Linear Regression</b> for gradient descent to obtain Global minimum)

<b>Tree based models</b> are not distance based models and can handle varying ranges of features. Hence, Scaling is not required while modelling trees.

Algorithms like <b>Linear Discriminant Analysis(LDA), Naive Bayes</b> are by design equipped to handle this and gives weights to the features accordingly. Performing a features scaling in these algorithms may not have much effect.


Standardisation and Mean Normalization can be used for algorithms that assumes zero centric data like Principal Component Analysis(PCA).

Euclidean distance is used in these algorithm so we need to perform scaling.

K-Means,
KNN

<b>standardization vs Normalization</b>

<p><b>Normalization</b> - helps to scale down the features between 0 to 1(Min-Max Scalar most used normalisation techniques).</p>
<p><b>standardization</b> - helps to scale down the features with the help of standard normal distribution.</p>

<b>Handling missing data in categorical variable</b>

<p>1. delete </p>
<p>2. replacing with most frequest value</p>
<p>3. clustering</p>
<p>4. classification algorithum</p>